body {
    background-color:cornsilk;
    width: 100%;
}

h1 {
    color: black;
    text-align:center;
    padding: 30px;
}

input {
    background-color: whitesmoke;
    text-align: center;
    margin: 10px;
    margin-left: 100px;
}

label {
    font-size: 20px;
    font-weight: bold;
    color: maroon;
    text-transform: capitalize;
    margin: 10px;
}

button {
    font-size: 15px;
    color: antiquewhite;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    margin: 10px;
    background-color: black;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 15%;
}

#image {
    position: absolute;
}
